body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  a {
    color: #00a3ad;
    text-decoration: none;
    font-weight: bold;
  }
}
